<!-- Back to top -->
<div id="back-top" class="return-top hidden-xs display" style="display: block;">
  <i class="fa fa-angle-up"></i>
  <span class="return-icon">Top</span>
</div>
<script type="text/javascript">
    backtotop();
</script>
