<footer id="footer" role="contentinfo">
  <div class="footer-container">
    <section id="footercenter" class="footer-center">
      <div class="container">
        <div class="footer-center-wrap">
          <div class="row">

            <div class="col-md-3 col-sm-12 col-xs-12 " data-wow-delay="100ms">
              <div class="block_aboutshop block">
                <div class="block_content">
                  <div class="about">
                    <%= image_tag "logo.jpg", :class=>"img-responsive" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 " data-wow-delay="100ms">


              <div class="footer-block block" id="block_links_footer_1">

                <h4 class="title_block"><span>Tài khoản đăng bán</span></h4>

                <div class="block_content" style="">
                  <ul style="" class="toggle-footer list-group bullet">

                    <li class="item">
                      <a href="/tai-khoan" title="Đăng nhập">Đăng nhập</a>
                    </li>

                    <li class="item">
                      <a href="/cart" title="Giỏ hàng">Giỏ hàng</a>
                    </li>

                  </ul>
                </div>
              </div>

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 " data-wow-delay="100ms">


              <div class="footer-block block" id="block_links_footer_2">

                <h4 class="title_block"><span>Thông tin</span></h4>

                <div class="block_content" style="">
                  <ul style="" class="toggle-footer list-group bullet">

                    <li class="item">
                      <a href="/huong-dan-mua-hang" title="Hướng dẫn mua hàng">Hướng dẫn
                        mua hàng</a>
                    </li>

                    <li class="item">
                      <a href="/dieu-khoan" title="Quy định sử dụng">Quy định sử dụng</a>
                    </li>

                    <li class="item">
                      <a href="/dieu-khoan" title="Chính sách vận chuyển">Chính sách vận
                        chuyển</a>
                    </li>

                    <li class="item">
                      <a href="/dieu-khoan" title="Điều khoản dịch vụ">Điều khoản dịch
                        vụ</a>
                    </li>

                  </ul>
                </div>
              </div>

            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 " data-wow-delay="100ms">


              <div class="footer-block block" id="block_links_footer_3">

                <h4 class="title_block"><span>e-FOODLOVER</span></h4>

                <div class="block_content" style="">
                  <ul style="" class="toggle-footer list-group bullet">

                    <li class="item">
                      <a href="/">Trang chủ</a>
                    </li>

                    <li class="item">
                      <a href="/lien-he">Giới thiệu</a>
                    </li>

                    <li class="item">
                      <a href="/tim-kiem">Tìm kiếm món ăn</a>
                    </li>

                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footernav" class="footer-nav">
      <div class="container">
        <div class="footer-bottom-wrap">
          <div id="powered" class="powered ">
            <div class="copyright">
              <p class="text-center">© Phát triển bởi đội ngũ EC16-CQ-R</p>
            </div>

            <div class="paypal">
              <%= image_tag "themes/49902/assets/payment.png", :class=>"img-responsive" %>
            </div>

          </div>
        </div>
      </div>
    </section>
  </div>
</footer>