<header id="topnav">
  <div class="topbar-main">
    <div class="container">

      <!-- Logo container-->
      <div class="logo">
        <a href="javascript:void(0)" class="logo"><span>E-FOODLOVER</span> </a>
      </div>
      <!-- End Logo container-->

      <div class="menu-extras">

        <ul class="nav navbar-nav navbar-right pull-right">
          <li class="dropdown">
            <% if current_user %>
                <a href="" class="dropdown-toggle waves-effect waves-light profile" data-toggle="dropdown" aria-expanded="true">
                  <% if current_user.image_url %>
                      <img src="<%= current_user.image_url %>" class="img-circle">
                  <% else %>
                      <%= image_tag 'themes_support/user.png', :style=>"width:25px; height:25px" %>
                  <% end %>
                  &nbsp;<span class="username_admin"><%= current_user.name %></span>
                </a>
            <% end %>
            <ul class="dropdown-menu">
              <li><a href="/tai-khoan/dang-xuat"><i class="ti-power-off m-r-5"></i> Đăng xuất</a></li>
            </ul>
          </li>
        </ul>

        <div class="menu-item">
          <!-- Mobile menu toggle-->
          <a class="navbar-toggle">
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <!-- End mobile menu toggle-->
        </div>
      </div>

    </div>
  </div>
  <!-- End topbar -->


  <!-- Navbar Start -->
  <div class="navbar-custom">
    <div class="container">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">
          <% if current_user.role_id == 2 %>
          <li class="has-submenu">
            <a href="/admin/thanh-vien/quan-ly-mon-an"><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;Quản lý món ăn</a>
          </li>
          <li class="has-submenu">
            <a href="/admin/thanh-vien/quan-ly-hoa-don"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;Quản lý hóa đơn</a>
          </li>
          <% else %>
              <li class="has-submenu">
                <a href="/admin/quan-tri/quan-ly-tai-khoan"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;Quản lý tài khoản</a>
              </li>
          <% end %>
        </ul>
        <!-- End navigation menu -->
      </div>
    </div>
  </div>
</header>