<section id="off-canvas-nav" class="apollo-megamenu">
  <nav class="offcanvas-mainnav">
    <div id="off-canvas-button">
      <span class="off-canvas-nav"><i class="fa fa-close"></i></span> Đóng
    </div>
    <ul class="nav navbar-nav megamenu">


      <li class="active">
        <a class="" href="/" title="Trang chủ" target="_self">
          <span class="">Trang chủ</span>
        </a>
      </li>


      <li class="parent dropdown full-width ">
        <a class="dropdown-toggle has-category" data-toggle="dropdown" href="/collections" title="Bộ sưu tập" target="_self">
          <span class="menu-title">Bộ sưu tập</span>
        </a>
        <span class="caret"></span>


        <div class="dropdown-sub dropdown-menu sub-apmegamenu-1">
          <div class="dropdown-menu-inner">
            <div class="row">

              <div class="mega-col col-sm-3">

                <div class="row">


                  <div class="col-sm-12">
                    <div class="mega-col-inner ">
                      <div class="menu-title">Hiển thị</div>
                      <div class="widget-inner">
                        <ul class="nav-links">


                          <li><a href="/dang-luoi-cot-trai" title="Dạng lưới, cột trái">Dạng
                            lưới, cột trái</a>
                          </li>

                          <li><a href="/dang-luoi-cot-phai" title="Dạng lưới, cột phải">Dạng
                            lưới, cột phải</a>
                          </li>

                          <li><a href="/dang-danh-sach-cot-trai" title="Dạng danh sách, cột trái">Dạng danh sách, cột trái</a>
                          </li>

                          <li><a href="/dang-danh-sach-cot-phai" title="Dạng danh sách, cột phải">Dạng danh sách, cột phải</a>
                          </li>

                          <li><a href="/toan-chieu-rong" title="Toàn chiều rộng">Toàn chiều
                            rộng</a>
                          </li>


                        </ul>
                      </div>
                    </div>
                  </div>


                </div>
              </div>


              <div class="mega-col col-sm-5">


                <!--<div class="block-video">-->
                <!--<div class="widget-inner">-->
                <!--<iframe width="100%" height="200"-->
                <!--src="https://www.youtube.com/embed/rsCD_XoMLQE" frameborder="0"-->
                <!--allowfullscreen=""></iframe>-->
                <!--</div>-->
                <!--</div>-->
              </div>


              <div class="mega-col col-sm-4">


                <div class="products_menu">

                  <div class="menu-title">
                    Sản phẩm nổi bật
                  </div>

                  <div class="product-block">


                    <div class="product-container clearfix">
                      <div class="product-meta">
                        <h5 class="name">
                          <a class="product-name" href="/com-ga" title="Cơm gà">
                            Cơm gà
                          </a>
                        </h5>
                        <div class="product-desc">
                          <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
                            <br> Trong ẩm thực Việt, có lẽ chẳng...
                          </p>
                        </div>
                        <div class="content_price">

                                                        <span class="price product-price">
		                    40.000₫
		                </span>
                        </div>
                      </div>
                      <div class="image ">
                        <a class="product_img_link" href="/com-ga" title="Cơm gà">
                          <%= image_tag "products/4556114201404-fix.jpg", :class=>"replace-2x img-responsive" %>
                        </a>
                      </div>

                    </div>


                    <div class="product-container clearfix">
                      <div class="product-meta">
                        <h5 class="name">
                          <a class="product-name" href="/com-van-phong" title="Cơm văn phòng">
                            Cơm văn phòng
                          </a>
                        </h5>
                        <div class="product-desc">
                          <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
                            <br> Món ăn đơn giản với chiếc bánh...
                          </p>
                        </div>
                        <div class="content_price">

                                                        <span class="price product-price">
		                    35.000₫
		                </span>
                        </div>
                      </div>
                      <div class="image ">
                        <a class="product_img_link" href="/com-van-phong" title="Cơm văn phòng">
                          <%= image_tag "products/552048541-fix.jpg", :class=>"replace-2x img-responsive" %>
                        </a>
                      </div>

                    </div>

                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </li>


      <li class="parent dropdown ">
        <a class="dropdown-toggle has-category" data-toggle="dropdown" href="/collections/all" title="Sản phẩm" target="_self">
          <span class="">Sản phẩm</span>
        </a>
        <span class="caret"></span>
        <div class="dropdown-menu level1">
          <div class="dropdown-menu-inner">
            <div class="mega-col-inner">
              <ul>


                <li class="">
                  <a class="" href="/sup-thap-cam" title="Cột danh mục trái">
                    <span class="">Cột danh mục trái</span>
                  </a>
                </li>


                <li class="">
                  <a class="" href="/hamburger" title="Cột danh mục phải">
                    <span class="">Cột danh mục phải</span>
                  </a>
                </li>


                <li class="">
                  <a class="" href="/com-van-phong" title="Toàn chiều rộng">
                    <span class="">Toàn chiều rộng</span>
                  </a>
                </li>


              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="">
        <a class="" href="/tin-tuc" title="Tin tức" target="_self">
          <span class="">Tin tức</span>
        </a>
      </li>
      <li class="">
        <a class="" href="/gioi-thieu" title="Giới thiệu" target="_self">
          <span class="">Giới thiệu</span>
        </a>
      </li>
    </ul>
  </nav>
</section>