<section id="off-canvas-nav" class="apollo-megamenu">
  <nav class="offcanvas-mainnav">
    <div id="off-canvas-button">
      <span class="off-canvas-nav"><i class="fa fa-close"></i></span> Đóng
    </div>
    <ul class="nav navbar-nav megamenu">

      <li class="">
        <a class="" href="/" target="_self">
          <span class="">Trang chủ</span>
        </a>
      </li>

      <li class="">
        <a class="" href="/tai-khoan" target="_self">
          <span class="">Tài khoản đăng bán</span>
        </a>
      </li>

      <li class="">
        <a class="" href="/tim-kiem?key=" target="_self">
          <span class="">Tìm kiếm</span>
        </a>
      </li>

      <li class="">
        <a class="" href="/gioi-thieu" target="_self">
          <span class="">Giới thiệu</span>
        </a>
      </li>
    </ul>
  </nav>
</section>