a{
    color: #2a9dcc;
}

a:hover, a:focus {
    color: #1F7599;
}

.error {
    color: #ff6d6d;
}

.btn, .btn-primary{
    background-color: #2a9dcc;
    border-color: #2a9dcc;
}
.btn-primary.disabled {
    background-color: #5FB5D8;
    border-color: #5FB5D8;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active{
    background-color: #1F7599;
    border-color: #1F7599;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
    background-color: #1F7599;
    border-color: #1F7599;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, .btn:hover{
    background-color: #1F7599;
    border-color: #1F7599;
}

.sidebar:after{
    background-color: #fafafa;
}

.logo__image--small {
    max-height: 2.14286em;
}

.logo__image--medium {
    max-height: 3.28571em;
}

.logo__image--large {
    max-height: 4.57143em;
}

@media (min-width: 1000px) {
    .logo__image--small {
        max-height: 3.85714em;
    }

    .logo__image--medium {
        max-height: 6.28571em;
    }

    .logo__image--large {
        max-height: 8.71429em;
    }
}

.logo--center {
    text-align: center;
}

.logo--left {
    text-align: left;
}

.logo--right {
    text-align: right;
}

.logo__image--medium {
    max-height: 2.85714em;
}

input, .form-control, input[required]{
    background-color: white;
}

body.body--custom-background-color{
   background-color: #fff;
}

body.body--custom-background-image{
    background:url(//bizweb.dktcdn.net/100/038/419/themes/49902/assets/checkout_body_background_image.jpg?1477551366840) center top;
}

h1,h2,h3,h4,h5,h6{
    font-family: Helvetica Neue;
}

body{
    font-family: Helvetica Neue;
}

.footer {
    font-family: ;
    color: ;
}

@media (min-width: 992px)
{
    .order-summary.order-summary--custom-background-color {
        background: #fafafa;
    }

    .order-summary.order-summary--custom-background-image {
        background:url(//bizweb.dktcdn.net/100/038/419/themes/49902/assets/checkout_sidebar_background_image.jpg?1477551366840) center top;
    }
}

@media (max-width: 992px)
{
    .order-summary.order-summary--custom-background-color:after {
        background: #fafafa;
    }

    .order-summary.order-summary--custom-background-image:after {
        background:url(//bizweb.dktcdn.net/100/038/419/themes/49902/assets/checkout_sidebar_background_image.jpg?1477551366840) center top;
    }
}

.order-summary--custom-background-image.sidebar:after{
   background:url(//bizweb.dktcdn.net/100/038/419/themes/49902/assets/checkout_sidebar_background_image.jpg?1477551366840) center top;
}

.product-thumbnail__quantity {
    background-color: #2a9dcc;
}