<div id="catalog_block" class="block ajax-filter block_shopby">
    <div class="title_block">
        <span>Lọc món ăn&nbsp;<i class="fa fa-bars bar_icon"></i></span>
    </div>
    <div class="block_content">
        <div class="catalog_filters">
            <div class="catalog_subtitle_heading">
                <span class="catalog_subtitle">Giá</span>
            </div>
            <ul id="ul_catalog_price" class="col-md-12 catalog_filter_ul list-unstyled">
                <li class="advanced-filter" data-group="Giá">
                    <input class="chkval" type="checkbox" name="Giá"><a href="">
                    Dưới 30.000đ</a>
                </li>
                <li class="advanced-filter" data-group="Giá">
                    <input class="chkval" type="checkbox" name="Giá"><a href="">
                    30.000đ - 100.000đ</a>
                </li>
                <li class="advanced-filter" data-group="Giá">
                    <input class="chkval" type="checkbox" name="Giá"><a href="">
                    Trên 100.000đ</a>
                </li>
            </ul>
        </div>
    </div>
</div>