<html xmlns="http://www.w3.org/1999/xhtml"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shop name - Thanh toán đơn hàng">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/checkout.css" rel="stylesheet" type="text/css">
    <link href="css/thankyou.css" rel="stylesheet" type="text/css">


    <link href="css/checkout_add.css" rel="stylesheet" type="text/css">


    <title>leo-food - Cảm ơn</title>
    <script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-MS77Z9"></script><script type="text/javascript">
    function addDOMLoadedEvent(func) {
        if (document.readyState === 'complete') {
            func();
        } else {
            if (document.addEventListener) {
                document.addEventListener("DOMContentLoaded", func, false);
            }
            else {
                document.attachEvent("onDOMContentLoaded", func);
            }
        }
    }
</script>
</head>
<body class="body--custom-background-color ">

<div context="checkout" define="{checkout: new Bizweb.Checkout(this,{})}" class="container">
    <div class="header">
        <div class="wrap">
            <div class="shop logo  logo--left ">

                <h1 class="shop__name">
                    <a href="/">
                        leo-food
                    </a>
                </h1>

            </div>
        </div>
    </div>
    <div class="main">
        <div class="wrap clearfix">
            <div class="row thankyou-infos">
                <div class="col-md-7 thankyou-message">
                    <div class="thankyou-message-icon unprint">
                        <div class="icon icon--order-success svg">
                            <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px">
                                <g fill="none" stroke="#8EC343" stroke-width="2">
                                    <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                                    <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="thankyou-message-text">
                        <h3>Cảm ơn bạn đã đặt hàng</h3>
                        <p>

                            Một email xác nhận đã được gửi tới toanleviet9594@gmail.com. Xin vui lòng kiểm tra email của bạn

                        </p>
                        <div style="font-style: italic;">

                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 order-info" define="{order_expand: false}">
                    <div class="order-summary order-summary--custom-background-color ">
                        <div class="order-summary-header summary-header--thin summary-header--border">
                            <h2>
                                <label class="control-label">Đơn hàng</label>
                                #1012
                                <label class="control-label unprint">(1)</label>
                            </h2>
                            <a class="underline-none expandable expandable--pull-right mobile unprint" bind-event-click="toggle(this, '.order-items')" bind-class="{open: order_expand}" href="javascript:void(0)">
                                Xem chi tiết
                            </a>
                        </div>
                        <div class="order-items mobile--is-collapsed" bind-class="{'mobile--is-collapsed': !order_expand}">
                            <div class="summary-body summary-section summary-product">
                                <div class="summary-product-list">
                                    <ul class="product-list">

                                        <li class="product product-has-image clearfix">
                                            <div class="product-thumbnail pull-left">
                                                <div class="product-thumbnail__wrapper">

                                                    <img src="//bizweb.dktcdn.net/thumb/thumb/100/038/419/products/552048541-fix.jpg?v=1475284907923" alt="Cơm văn phòng Default Title" class="product-thumbnail__image">

                                                </div>
                                                <span class="product-thumbnail__quantity unprint" aria-hidden="true">1</span>
                                            </div>
                                            <div class="product-info pull-left">
                                                    <span class="product-info-name">
                                                        <strong>Cơm văn phòng</strong>
                                                        <label class="print">x1</label>
                                                    </span>


                                            </div>
                                            <strong class="product-price pull-right">
                                                35.000₫
                                            </strong>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="summary-section  border-top-none--mobile ">
                            <div class="total-line total-line-subtotal clearfix">
                                    <span class="total-line-name pull-left">
                                        Tạm tính
                                    </span>
                                <span class="total-line-subprice pull-right">
                                        35.000₫
                                    </span>
                            </div>


                            <div class="total-line total-line-shipping clearfix">
                                    <span class="total-line-name pull-left">
                                        Phí vận chuyển
                                    </span>
                                <span class="pull-right">

                                        40.000₫

                                    </span>
                            </div>


                        </div>
                        <div class="summary-section">
                            <div class="total-line total-line-total clearfix">
                                    <span class="total-line-name total-line-name--bold pull-left">
                                        Tổng cộng
                                    </span>
                                <span class="total-line-price pull-right">
                                        75.000₫
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 customer-info">
                    <div class="shipping-info">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">

                                <div class="order-summary order-summary--white no-border no-padding-top">
                                    <div class="order-summary-header">
                                        <h2>
                                            <label class="control-label">Thông tin nhận hàng</label>
                                        </h2>
                                    </div>
                                    <div class="summary-section no-border no-padding-top">
                                        <p class="address-name">
                                            Le Viet Toan
                                        </p>
                                        <p class="address-address">
                                            -
                                        </p>


                                        <p class="address-province">
                                            Hà Nội
                                        </p>


                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6">

                                <div class="order-summary order-summary--white no-border">
                                    <div class="order-summary-header">
                                        <h2>
                                            <label class="control-label">Thông tin thanh toán</label>
                                        </h2>
                                    </div>
                                    <div class="summary-section no-border no-padding-top">
                                        <p class="address-name">
                                            Le Viet Toan
                                        </p>
                                        <p class="address-address">
                                            -
                                        </p>


                                        <p class="address-province">
                                            Hà Nội
                                        </p>


                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="order-summary order-summary--white no-border">
                                    <div class="order-summary-header">
                                        <h2>
                                            <label class="control-label">Hình thức thanh toán</label>
                                        </h2>
                                    </div>
                                    <div class="summary-section no-border no-padding-top">
                                        <span>Thanh toán khi giao hàng (COD)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="order-summary order-summary--white no-border">
                                    <div class="order-summary-header">
                                        <h2>
                                            <label class="control-label">Hình thức vận chuyển</label>
                                        </h2>
                                    </div>
                                    <div class="summary-section no-border no-padding-top">


                                        <span>Giao hàng tận nơi - 40.000₫</span>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-success unprint">
                        <a href="/" class="btn btn-primary">
                            Tiếp tục mua hàng
                        </a>
                        <a onclick="window.print()" class="nounderline print-link" href="javascript:void(0)">
                            In
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer unprint">
            <script src="js/jquery.min.js" type="text/javascript"></script>
            <script src="js/bootstrap.min.js" type="text/javascript"></script>




            <div class="mt10"></div>
        </div>
        <div class="modal fade" id="refund-policy" data-width="" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Chính sách hoàn trả</h4>
                    </div>
                    <div class="modal-body">
                        <pre></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="privacy-policy" data-width="" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Chính sách bảo mật</h4>
                    </div>
                    <div class="modal-body">
                        <pre></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="terms-of-service" data-width="" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">Điều khoản sử dụng</h4>
                    </div>
                    <div class="modal-body">
                        <pre></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/twine.min.js" type="text/javascript"></script>
<script src="js/checkout.js" type="text/javascript"></script>
<script type="text/javascript">
    context = {}

    $(function () {
        Twine.reset(context).bind().refresh();
    });
</script>

</body></html>