.chef_1{
    top: 100px;
    right: 70px;
    position: relative;
}
.chef_2{
    top: 100px;
    right: 30px;
    position: relative;
}
.chef_3{
     top: 80px;
     right: 10px;
     position: relative;
 }
.chef_4{
    top: 55px;
    right: 55px;
    position: relative;
}
.chef_5{
    top: 65px;
    right: 10px;
    position: relative;
}
.chef_6{
     top: 110px;
     right: 10px;
     position: relative;
}
.chef_7{
    top: 55px;
    right: 10px;
    position: relative;
}
.chef_8{
    top: 85px;
    right: 10px;
    position: relative;
}
.banner_1{
    width: 281px;
}
footer{
    margin-top: 20px;
}
hr{
    border-top: 2px solid #eee;
}
.product_list .product_block:last-child {
    border-right: 1px solid #e5e5e5;
}
.badge_1{
    margin-top: 30px;
    background: #6bc15f;
    margin-left: 8px;
}
.badge_2{
    margin-top: 30px;
    background: #f0ad4e;
    margin-left: 8px;
}
.badge_3{
    margin-top: 30px;
    background: #3CB38D;
    margin-left: 8px;
}
.badge_4{
    margin-top: 30px;
    background: #D4595E;
    margin-left: 8px;
}
.badge_5{
    margin-top: 30px;
    background: #674941;
    margin-left: 8px;
}
.badge_6{
    margin-top: 30px;
    background: cornflowerblue;
    margin-left: 8px;
}
.badge_7{
    margin-top: 30px;
    background: olive;
    margin-left: 8px;
}
.badge_8{
    margin-top: 30px;
    background: seagreen;
    margin-left: 8px;
}
.bar_icon{
    float: right;
    margin: 17px 15px 0 0;
}
.border-product-search{
    border: 1px solid #e5e5e5;
}
.login-part{
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 12px;
    margin-top: 18px;
    font-size: 12px;
}
.login-part:hover{
    color: #f8694d;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .chef-image{
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}