.chef_1{
    top: 100px;
    right: 70px;
    position: relative;
}
.chef_2{
    top: 100px;
    right: 30px;
    position: relative;
}
.chef_3{
     top: 80px;
     right: 10px;
     position: relative;
 }
.chef_4{
    top: 55px;
    right: 55px;
    position: relative;
}
.chef_5{
    top: 65px;
    right: 10px;
    position: relative;
}
.chef_6{
     top: 110px;
     right: 10px;
     position: relative;
}
.chef_7{
    top: 55px;
    right: 10px;
    position: relative;
}
.chef_8{
    top: 85px;
    right: 10px;
    position: relative;
}
.banner_1{
    width: 281px;
}
.banner_2{

}
footer{
    margin-top: 20px;
}
hr{
    border-top: 2px solid #eee;
}
.product_list .product_block:last-child {
    border-right: 1px solid #e5e5e5;
}