<section class="promotion" id="ap-promotion">
  <div class="container">

    <div class="box-apreassurances">
      <div class="row">


        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
          <div class="reassurances-left">
            <span class="icon-box">
              <%= image_tag "themes_support/home_blockhtml_icon_1.png", :class => "replace-2x img-responsive" %>
            </span>
            <div class="description media-body">
              <h4>Miễn phí vận chuyển</h4>
              <p>Trong vòng 3km</p>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
          <div class="reassurances-left">
            <span class="icon-box">
              <%= image_tag "themes_support/home_blockhtml_icon_2.png", :class => "img-responsive" %>
            </span>
            <div class="description media-body">
              <h4>Hỗ trợ khách hàng</h4>
              <p>24/24 Tất cả các ngày</p>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
          <div class="reassurances-left">
            <span class="icon-box">
              <%= image_tag "themes_support/home_blockhtml_icon_3.png", :class => "img-responsive" %>
            </span>
            <div class="description media-body">
              <h4>Mua hàng tiện lợi</h4>
              <p>Nhấn và chọn</p>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 column">
          <div class="reassurances-left">
            <span class="icon-box">
              <%= image_tag "themes_support/home_blockhtml_icon_4.png", :class => "img-responsive" %>
            </span>
            <div class="description media-body">
              <h4>Giá cả hấp dẫn</h4>
              <p>Giảm tới 40%</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>