<section id="columns" class="columns-container">
    <div class="container">

      <div id="breadcrumbs">
        <div class="container">
          <nav role="navigation" aria-label="breadcrumbs">
            <ol class="breadcrumb">
              <li>
                <a href="/">
                  <span>Trang chủ</span>
                </a>
              </li>

              <li class="active">
                <span>Giới thiệu</span>
              </li>

            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div id="center_column" class="col-sm-12 col-md-12">
          <div class="page-wrap">
            <h1 class="page-header bottom-indent">Giới thiệu</h1>
            <div class="page-content">
              <div class="rte">
                <section id="columns">
                  <section id="center_column">
                    <p class="text-center"><strong>E-FOODLOVER</strong> là website đăng bán món ăn mô hình <strong>C2C</strong> - Đồ án môn thương mại điện tử của nhóm <strong>EC16-CQ-R</strong>, Trường Đại Học Khoa Học Tự Nhiên</p>

                    <p><img border="0" src="https://sites.google.com/a/sitestemplate.net/cloud-champion/_/rsrc/1421087181039/home/ic_account_circle_black_18dp.png"><b> Mua bán thỏa thuận</b></p>

                    <ul>
                      <li>Với tiêu chí bán hàng trực tuyến cùng khả năng tự kiểm soát trong khâu tiếp thị online&nbsp;... chúng tôi&nbsp;tiết kiệm&nbsp;được những khoản&nbsp;đầu tư hàng tháng. Nhờ vậy giá thành cũng giảm đi so với mặt bằng thị trường, ngoài ra việc thỏa thuận theo gói sản phẩm sẽ được&nbsp;áp dụng trực tiếp tại website này&nbsp;để tạo thêm yếu tố linh&nbsp;động trong giao định.&nbsp;</li>
                    </ul>

                    <p>Bằng cách này, quý khách mua hàng theo gói sản phẩm hoàn toàn sẽ rất chủ động trong giá mua vào. Giao dịch sẽ dễ dàng và khả năng thành công sẽ cao hơn</p>

                    <p><img border="0" src="https://sites.google.com/a/sitestemplate.net/cloud-champion/_/rsrc/1421254389427/home/ic_account_balance_wallet_black_18dp.png"><b> Tiết kiệm thời gian</b></p>

                    <ul>
                      <li>Bán hàng trực tuyến, một tiện&nbsp;ích phục vụ người mua có thể hoàn toàn thay thế hình thức giao dịch phổ thông trước&nbsp;đây.&nbsp;Tuy nhiên hiện nay tại Việt Nam ta,&nbsp;điều này chưa thể thực hiện&nbsp;được vì nhiều yếu tố khách quan và chủ quan. Nhiều người mua hàng&nbsp;đôi khi mất hẳn niềm tin vào những&nbsp;đơn vị bán hàng online.&nbsp;Bước qua và rút kinh nghiệm của các&nbsp;đơn vị khác chúng tôi cố gắng tạo nên một môi trường bán hàng online thân thiện bằng cách bổ sung vào gian hàng nhưng Video chất lượng cao được thực hiện từ những sản phẩm thật đang bày bán.</li>
                    </ul>

                    <p>Với cách thức trên khách hàng không cần tốn công di chuyển đến nơi trưng bày, không cần tốt tiền cho nhưng cuộc điện thoại để rồi nhận được những câu trả lời chung chung không thể hình dung.</p>

                    <p><img border="0" src="https://sites.google.com/a/sitestemplate.net/cloud-champion/_/rsrc/1421254391334/home/ic_backup_black_18dp.png"> <b>Cập nhật kho hàng 24h</b></p>

                    <ul>
                      <li>Do yêu cầu khắt khe, nên khá nhiều khó khăn ban đầu đã xảy ra cho công đoạt cập nhật 24h/24h nhưng mọi việc cũng&nbsp;đã&nbsp;được khắc phục triệt&nbsp;để bằng việc trao&nbsp;đổi nhân sự và kết hợp nhóm. Những sản phẩm trưng bày khi đã bán ra sẽ&nbsp;được treo banner "Sold out " trong vòng 1 phút sau giao dịch, gian hàng sẽ tiến hành cập nhật thực trạng sản phẩm khác trong 24h tiếp theo.</li>
                    </ul>

                    <p>Như vậy khách hàng hoàn toàn có thể yên tâm lực chọn và nắm bắt tình trạng kho hàng mà không nhất thiết phải tới tận nơi hoặc liên hệ&nbsp;để biết xem còn hàng hay không, đồng thời tính trung thực của bên bán sẽ được công khai hóa. Đây là thay&nbsp;đổi lớn giúp chúng ta dễ dàng và tiến gần hơn&nbsp;đến giao dịch.</p>
                  </section>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>